.fields {
	font-size: 2.2em;
}

x-flipbox{
	height: 100% !important;
}

#main{
	position: relative;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.buttons-container{
	/*position: fixed;
	bottom: 0px;
	left: 0px;*/
}